<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
</head>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <br>
            <h1><span class="first-letter-title">A</span>lmost There</h1>
            <h4>To complete your registration, please click the button below.</h4>
            <h6>(Step 4 of 4)</h6>
            <div class="mb4">
                {% if googleError %}
                <div id="noMatch" class="alert alert-danger" role="alert">Error: Google Initialization Failed.</div>
                {% endif %}
                <div class="card h-100" id="phoneField">
                  <h4 class="card-header">Initialize Journal</h4>
                  <div class="card-body">
                    <p class="card-text">Please press the "Create Journal" button below to initialize your first journal. It will take you to a webpage where, after confirming permission, you will receive a token to copy and paste into the field below. This step is necessary for maintaining the security of your Google account. If you have any issues, please contact support at <a href="mailto:info@grammiegram.com">info@grammiegram.com</a>.</p>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary cardButton" id="auth">Create Journal</button>
                    <script>
                        console.log("run");
                        var auth_url ="{{google_auth_url}}";
                        for (var loop=0;loop<10;loop+=1){
                            var auth_url = auth_url.replace("&amp;","&");
                        }
                        console.log(auth_url);
                        document.getElementById('auth').addEventListener('click', function(e) {
                            window.open(auth_url);
                            e.preventDefault();
                        });

                    </script>
                      <form method="post">
                        <br>
                        <input placeholder="Input the Google token" class="form-control" type="text" name="auth_code"><br><br>
                        {% csrf_token %}
                      <button class="btn btn-primary cardButton">Complete Registration</button>
                      </form>
                  </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <br>
            <img src="/static/undraw_message_sent_1030.svg" class="img-fluid" alt="Phone Use">
        </div>
    </div><!--row-->
</div>
<!--Footer-->
{% include 'footer.html' %}
