<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <!--stripe-->
    <script src="/static/stripe_signup.js"> </script>
    <script src="https://checkout.stripe.com/checkout.js"> </script>
</head>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <br>
            <h1><span class="first-letter-title">C</span>heckout</h1>
            <h4>Please enter your credit card information.</h4>
            <h6>(Step 3 of 4)</h6>
            <div class="mb4">
                <div class="card h-100" id="phoneField">
                  <h4 class="card-header">Set Phone Number</h4>
                  <div class="card-body">
                    <p class="card-text">Please enter your payment information. We use Stripe to securely store and process your payment information. SMSJournal costs $1.49 per month, billed annually as $17.88. If you have any issues, please contact support at <a href="mailto:info@grammiegram.com">info@grammiegram.com</a>.</p>
                  </div>
                  <div class="card-footer">
                      <button id="customButton" class="btn btn-primary cardButton">Checkout</button>
                        <script>
                        var url_signup = "{%url 'signup_and_charge' %}";var username = "{{username}}";$(window).on("load",function(){useStripe('{{stripe_key}}')});
                        </script>
                  </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <br>
            <img src="/static/undraw_stripe_payments_o7aw.svg" class="img-fluid" alt="Phone Use">
        </div>
    </div><!--row-->
</div>
<!--Footer-->
{% include 'footer.html' %}
