<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <script src="/static/stripe_change.js"> </script>
    <script src="https://checkout.stripe.com/checkout.js"> </script>
</head>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <br>
            <h1><span class="first-letter-title">A</span>ccount Dashboard</h1>
            <p>You can change your payment information or phone number here. If you experience issues or want to change the Google account you use for SMSJournal, please contact support at <a href="mailto:info@grammiegram.com">info@grammiegram.com</a>.</p>
            {% include 'phone_widget.html' %}
            <script>
                document.getElementById('phoneHeader').innerHTML = "Change Phone Number"
            </script>
            <div class="mb4">
                <div class="card h-100">
                  <h4 class="card-header">Change Credit Card</h4>
                  <div class="card-body">
                    <p class="card-text">Change the credit card associated with your SMSJournal account. You will not be charged until the next subscription period.</p>
                </div>
                  <div class="card-footer">
                      <button id="customButton" class="btn btn-primay cardButton">Change card</button>
                      <script>
                      var url_change = "{%url 'card_change' %}";var username = "{{username}}";
                      var user_email = "{{user_email}}";$(window).on("load",function(){changeCard('{{stripe_key}}')});
                      </script>
                  </div>
            </div>
        </div>
        <br>
        <div class="mb4">
            <div class="card h-100">
              <h4 class="card-header">Cancel Subscription</h4>
              <div class="card-body">
                  <p>Use the button below to cancel your SMSJournal subscription. You will be able to use the service for the rest of the existing subscription period.</p>
              </div>
              <div class="card-footer">
                  <button class="btn btn-primay cardButton" id="unsubscribeButton">Cancel Subscription</button>
                  <script>
                  document.getElementById("unsubscribeButton").addEventListener('click', function(e){
                      $("#unsubscribeButton").after('<h4>Your account will be permanently deleted. Are you sure?</h4> <form action="{% url "unsubscribe" %}"  method="post"> {% csrf_token %}<input type=hidden name="username"  value = "{{username}}"> <input type="submit" value="Confirm"> ');
                  });
                  </script>
              </div>
            </div>
            <br>
        </div>
        <br>
        </div>
        <div class="col-12 col-md-4">
            <br>
            <img src="/static/undraw_bookmarks_r6up.svg" class="img-fluid" alt="Phone Use">
        </div>
    </div><!--row-->
</div>
<!--Footer-->
{% include 'footer.html' %}
