<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <!--CSS sheet for iPhone-->
    <link rel="stylesheet" href="/static/devices.min.css" type="text/css">
    <!--Icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--stripe-->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!--Google API Client Library-->
    <script src="https://apis.google.com/js/client.js"></script>
</head>
<div class="container">
    <div class="row">
        <p>This page shows when a subscriber with an active account logs in.</p>
        <p>This page should let the subscriber do a few things:</p>
        <ul>
            <li>one-click, one-field form to post a journal entry</li>
            <li>change phone number with verification</li>
            <li>change payment options</li>
            <li>delete account / cancel subscription </li>
        </ul>
    </div>
</div>
