<div class="mb4">
    <div class="card h-100" id="phoneField">
      <h4 class="card-header" id="phoneHeader">Set Phone Number</h4>
      <div class="card-body">
        {% if mismatchError %}
        <div id="noMatch" class="alert alert-danger" role="alert">Error: phone numbers don't match.</div>
        {% endif %}{% if formatError %}
        <div id="noFormat" class="alert alert-danger" role="alert">Error: phone numbers not recognized.</div>
        {% endif %}
        <p class="card-text">Please enter the phone number that you would like to journal from. We will send you a code to confirm the number.</p>
        <form method="post">
          {% csrf_token %}
          {{ form.phone_number }}
          <br>
          {{ form.phone_number_confirm }}
          <br>
      </div>
      <div class="card-footer">
          <button type="submit" onclick="swapViewToConfirm()" class="btn btn-primary cardButton">Set Phone Number</button>
          </form>
      </div>
    </div>
    <br>
</div>
<script>
    document.getElementById("id_phone_number").classList.add("form-control")
    document.getElementById("id_phone_number").placeholder = "Phone Number";
    document.getElementById("id_phone_number_confirm").classList.add("form-control")
    document.getElementById("id_phone_number_confirm").placeholder = "Confirm Phone Number";
</script>
