container_commands:
  01_efs_install:
    command: "sudo yum install -y amazon-efs-utils"
    leader_only: true

  02_efs_mkdir:
    command: "sudo mkdir /efs"
    leader_only: true

  03_efs_mount:
    command: "sudo mount -t efs fs-38a690d8:/ /efs"
    leader_only: true

  04_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"
    leader_only: true

  05_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true

  06_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
