<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <!--CSS sheet for iPhone-->
    <link rel="stylesheet" href="/static/devices.min.css" type="text/css">
    <!--Icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--stripe-->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!--Google API Client Library-->
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<div class="container">
    <div class="row">
        <p>This page shows when a subscriber with an active account logs in.</p>
        <p>This page should let the subscriber do a few things:</p>
        <ul>
            <li>one-click, one-field form to post a journal entry</li>
            <li>change phone number with verification</li>
            <li>change payment options</li>
            <script>src="https://checkout.stripe.com/checkout.js"</script>
            <button id="customButton">Change card</button>
            <script>
              var handler = StripeCheckout.configure({
                key: '{{stripe_key}}',
                image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                locale: 'auto',
                token: function(tkn) {
                  console.log("Token: " + tkn.id);
                  // do clean in here if the card is not correct
                  $.ajax({
                        type: 'POST',
                        url: "{%url 'card_change' %}",
                        data: {"stripeToken":tkn.id, "username": "{{username}}"},  // pass phone or id in here as well so that we can find user on server side 
                        dataType: "json",
                        success: function(resultData) { console.log("Card change Complete") }
                  });
                }
              });
              
              document.getElementById('customButton').addEventListener('click', function(e) {
                console.log("button");
                // Open Checkout with further options:
                handler.open({
                  name: 'SMS journal',
                  description: 'New payment method information',
                  amount: 149
                });
                e.preventDefault();
              });
              
              // Close Checkout on page navigation:
              window.addEventListener('popstate', function() {
                console.log("pop state");
                handler.close();
              });
              </script>

            <li>delete account / cancel subscription </li>
            <button id="unsubscribeButton">Delete account</button>
            <script> 
            document.getElementById("unsubscribeButton").addEventListener('click', function(e){
                $("#unsubscribeButton").after('<h4>Your account will be permanently deleted. Are you sure?</h4> <form action="{% url "unsubscribe" %}"  method="post"> {% csrf_token %}<input type=hidden name="username"  value = "{{username}}"> <input type="submit" value="Confirm"> ');
                /*document.getElementById("confirmUnsubscribe").addEventListener('click', function(e){
                    $.ajax({
                        type: 'POST',
                        url: "{%url 'unsubscribe' %}",
                        data: {"stripeToken":tkn.id}, "username":'{{username}}',  // pass phone or id in here as well so that we can find user on server side 
                        dataType: "json",
                        success: function(resultData) { console.log("Card change Complete") }
                  });
                });*/
            });
            </script>
        </ul>
    </div>
</div>
