<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <!--CSS sheet for iPhone-->
    <link rel="stylesheet" href="/static/devices.min.css" type="text/css">
    <!--Icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--stripe-->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!--Google API Client Library-->
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="/static/stripe_change.js"> </script>
</head>
<div class="container">
    <div class="row">
        <p>This page shows when a subscriber with an active account logs in.</p>
        <p>This page should let the subscriber do a few things:</p>
        <ul>
            <li>one-click, one-field form to post a journal entry</li>
            <li>change phone number with verification</li>
            <li>change payment options</li>
            <!--6 LINES BELOW-->
            <script>src="https://checkout.stripe.com/checkout.js"</script>
            <button id="customButton">Change card</button>
            <script>
            var url_change = "{%url 'card_change' %}";var username = "{{username}}";
            var user_email = "{{user_email}}";$(window).on("load",function(){changeCard('{{stripe_key}}')});
            </script>


            <li>delete account / cancel subscription </li>
            <button id="unsubscribeButton">Delete account</button>
            <script> 
            document.getElementById("unsubscribeButton").addEventListener('click', function(e){
                $("#unsubscribeButton").after('<h4>Your account will be permanently deleted. Are you sure?</h4> <form action="{% url "unsubscribe" %}"  method="post"> {% csrf_token %}<input type=hidden name="username"  value = "{{username}}"> <input type="submit" value="Confirm"> ');
            });
            </script>
        </ul>
    </div>
</div>
