<footer class="py-5 bg-dark main-footer">
  <div class="container">
    <p class="m-0 text-center">
        <a href="/terms/" class="btn btn-primary cardButtonFooter">Terms</a> |
        <a href="/privacy/" class="btn btn-primary cardButtonFooter">Privacy</a> |
        <a href="/license/" class="btn btn-primary cardButtonFooter">License</a> |
        <a href="mailto:info@grammiegram.com" class="btn btn-primary cardButtonFooter">Support</a> |
        <a href="https://github.com/philipkiely/SMSJournal" class="btn btn-primary cardButtonFooter">Source</a>
    </p>
    <hr>
    <p class="text-center"><a href="https://grammiegram.com/about" class="btn btn-primary cardButtonFooter">Copyright &copy; <span id="year">2019</span> GrammieGram LLC</a></p>
    <script>
        function setYear() {
            document.getElementById("year").innerHTML = (new Date()).getFullYear();
        }
    </script>
  </div><!-- /.container -->
</footer>
