<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <!--CSS sheet for iPhone-->
    <link rel="stylesheet" href="/static/devices.min.css" type="text/css">
    <!--Icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Google API Client Library-->
    <script src="https://apis.google.com/js/client.js"></script>
    <!--Authorization Request Script-->
    <script src="/static/auth.js"></script>
    <!--Google Script Trigger-->
    <script src="/static/trigger.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>&nbsp;</h1>
    </div><!--row-->
    <!--Title (Animated) and Signup-->
    <div class="row">
        <!--Title Animated-->
        <div class="col-12 col-md-6">
            <h1><span id="TitleSend">S</span><span id="TitleMy">M</span><span id="TitleSelf">S</span><span id="TitleJ">J</span>ournal</h1>
            <img src="/static/undraw_personal_text_vkd8.svg" class="img-fluid" alt="Text Messaging">
        </div>
        <!--Signup Form-->
        <div class="col-12 col-md-6">
            <div class="card h-100" id="signupArea">
              <h4 class="card-header">Get SMSJournal Today!</h4>
              <div class="card-body">
                <h4 class="first-letter-title">What is holding you back from keeping a daily journal?</h4>
                <p>Keep a journal from anywhere on your phone without the hassle of setting up a dedicated journaling app.</p>
                <p>With SMS Journal, you send yourself private text messages and our secure system transmits them to a file in your Google Drive, creating a chronological, editable, and entirely confidential journal.</p>
                <p>SMSJournal is the premier instant message journaling service, available for just $1.49 per month (billed annually) with a 30-day money back guarantee.<p>
                </div>
                {% if not user.is_authenticated %}
                <div class="card-footer">
                    <a href="/auth/login/google-oauth2" class="btn btn-primary cardButton">Get Started With Google</a>
                </div>
                {% else %}
                <div class="card-footer">
                    <a href="/account/" class="btn btn-primary cardButton">Your Account</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div><!--row-->
    <br>
    <hr> <!--section break with line-->
    <br>
    <!--How it works Animation-->
    <div class="row">
        <div class="col-12 col-md-6">
            <h1><span class="first-letter-title">J</span>ournal on Your Phone</h1>
            <div class="shrink-phone">
                <div class="marvel-device iphone8 black">
                    <div class="top-bar"></div>
                    <div class="sleep"></div>
                    <div class="volume"></div>
                    <div class="camera"></div>
                    <div class="sensor"></div>
                    <div class="speaker"></div>
                    <div class="screen">
                        <div id="SMSMessages"> <!--make scrollable-->
                            <div class="message me">
                                Send a message and see it appear in Google Docs.
                            </div>
                        </div>
                        <input class="form-control" type="text" id="sendMessage" placeholder="Your message here...">
                    </div>
                    <div class="home"></div>
                    <div class="bottom-bar"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h1><span class="first-letter-title">E</span>dit in Google Docs</h1>
        <form>
            <div class='form-group'>
                <textarea class="form-control" id="gDoc" rows="18">
                </textarea>
            </div>
        </form>
    </div>
    </div><!--row-->
    <br>
    <hr> <!--section break with line-->
    <br>
    <!--Why Journal-->
    <div class="row">
        <div class="col-12 col-md-8">
            <h1><span class="first-letter-title">W</span>hy Journal?</h1>
            <h3>Three writers weigh in on the benefits of keeping a daily journal.</h3>
            <div class="mb4">
                <div class="card h-100">
                  <h4 class="card-header">Forbes</h4>
                  <div class="card-body">
                    <p class="card-text">Noma Nazish, a journalist at Forbes, outlines the self-improvement benefits of journaling for clearing your mind, reducing stress, improving your memory, and facilitating healing.</p>
                  </div>
                  <div class="card-footer">
                    <a href="https://www.forbes.com/sites/nomanazish/2017/12/29/five-legit-reasons-to-keep-a-journal-in-2018/#34a5085955e1" class="btn btn-primary cardButton">Read</a>
                  </div>
                </div>
            </div>
            <br>
            <div class="mb4">
                <div class="card h-100">
                  <h4 class="card-header">The Art of Manliness</h4>
                  <div class="card-body">
                    <p class="card-text">Brett and Kate McKay, the founders of a popular lifestyle website, explain the daily journal as an historical tool and artifact. In this piece, the authors help you create a journaling practice to record your family history.</p>
                  </div>
                  <div class="card-footer">
                    <a href="https://www.artofmanliness.com/articles/30-days-to-a-better-man-day-8-start-a-journal/" class="btn btn-primary cardButton">Read</a>
                  </div>
                </div>
            </div>
            <br>
            <div class="mb4">
                <div class="card h-100">
                    <h4 class="card-header">Mission</h4>
                    <div class="card-body">
                      <p class="card-text">Benjamin Hardy, an author and motivational speaker, reveals the importance of journaling to his success and provides encouragement and instruction in how to journal effectively.</p>
                    </div>
                    <div class="card-footer">
                      <a href="https://medium.com/the-mission/why-keeping-a-daily-journal-could-change-your-life-9a4c11f1a475" class="btn btn-primary cardButton">Read</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <img src="/static/undraw_typewriter_i8xd.svg" class="img-fluid" alt="Why Journal">
        </div>
    </div><!--row-->
    <br>
    <hr> <!--section break with line-->
    <br>
    <!--Features-->
    <div class="row">
        <div class="col-12 col-md-8">
            <h1><span class="first-letter-title">F</span>eatures</h1>
                <div class="mb-4">
                  <div class="card h-100">
                    <h4 class="card-header">Unlimited Journaling</h4>
                    <div class="card-body">
                      <p class="card-text">Begin your SMSJournal with an untagged entry to see how the process works. If you’d like to keep several different journals &mdash; a gratitude journal, a daily events journal, and a journal capturing adorable things your toddler says, for example &mdash; you can add a simple @tag, your message goes into a dedicated journal. Each message can have unlimited tags, and if a tag is used for the first time, SMSJournal automatically creates a new journal. An untagged message is posted in your default journal, named "SMSJournal."</p>
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="card h-100">
                    <h4 class="card-header">Integrate Everywhere, Anytime</h4>
                    <div class="card-body">
                      <p class="card-text">Add to your journals around the clock. SMSJournal works on anything that can send a text message, from a flip phone to a flagship smartphone. You can also set up Siri or Alexa to journal by voice.</p>
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="card h-100">
                    <h4 class="card-header">Secure and Private</h4>
                    <div class="card-body">
                      <p class="card-text">Our purpose is protecting your privacy. Every message is sent directly from your phone to Google Docs by an encrypted transmission through an AWS Lambda function. We do not read or log your messages, and the phone number, payment token, and encrypted journal names that we collect to provide the service are stored in a secure AWS database.</p>
                    </div>
                  </div>
                </div>
            </div>
        <div class="col-12 col-md-4">
            <img src="/static/undraw_to_do_list_a49b.svg" class="img-fluid" alt="Features">
        </div>
    </div><!--row-->
    <br>
    <hr> <!--section break with line-->
    <br>
    <!--Open Source-->
    <div class="row">
        <div class="col-12 col-md-8">
            <h1><span class="first-letter-title">O</span>pen Source</h1>
            <div class="mb-4">
              <div class="card h-100">
                <h4 class="card-header">See the Code</h4>
                <div class="card-body">
                  <p class="card-text">One hundred percent of the SMSJournal code, from this website to the backend systems, are open source under the Apache 2.0 License. That means that our security and privacy claims are independently verifiable. You also have the option of setting up and hosting your own version of the service.</p>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/philipkiely/SMSJournal" class="btn btn-primary cardButton">Get the Code</a>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="card h-100">
                <h4 class="card-header">See the Idea</h4>
                <div class="card-body">
                  <p class="card-text">Read the original design concept whitepaper behind SMSJournal. This paper, written before SMSJournal was fully functional, delineates the first ideas for how to implement and create SMSJournal. Plus, it has some fun diagrams!</p>
                </div>
                <div class="card-footer">
                  <a href="https://philipkiely.com/static/SMSJournalWhitepaper.pdf" class="btn btn-primary cardButton">Read the Paper</a>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <img src="/static/undraw_open_source_1qxw.svg" class="img-fluid" alt="Features">
        </div>
    </div><!--row-->
    <br>
    <hr> <!--section break with line-->
    <br>
    <!--Contact-->
    <div class="row">
        <div class="col-12 col-md-6">
            <h1><span class="first-letter-title">C</span>ontact</h1>
        </div>
    </div><!--row-->
    <div class="row text-center">
        <div class="col-md-2 offset-md-3 col-4">
            <h4>Email</h4>
          <a class="cardButtonContact" href="mailto:info@grammiegram.com">
            <i class="fa fa-envelope fa-3x"></i>
          </a>
        </div>
        <div class="col-md-2 col-4">
            <h4>Facebook</h4>
          <a class="cardButtonContact" href="https://www.facebook.com/grinnellsfastestgrowingtechnologycompany/">
            <i class="fa fa-facebook fa-3x"></i>
          </a>
        </div>
        <div class="col-md-2 col-4">
            <h4>Twitter</h4>
          <a class="cardButtonContact" href="https://twitter.com/grinnellfastest">
            <i class="fa fa-twitter fa-3x"></i>
          </a>
        </div>
    </div><!--row-->
    <br>
    <hr> <!--section break with line-->
    <br>
</div><!--container-->
<!--Footer-->
{% include 'footer.html' %}
<script src="/static/script.js"></script>
<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_sR3Hd5BgBbf0BaeYEJx1qtVU',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
  }
});

function PayWithStripe() {
  // Open Checkout with further options:
  handler.open({
    name: 'GrammieGram LLC',
    description: 'SMSJournal 1-year subscription',
    amount: 1788
  });
}

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
</body>
</html>
